@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat";
  
}

.box-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overlay{
  background-color: rgba(0,0,0,0.3);
}

.loading-animation{
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  @apply w-[20px] h-[20px] bg-primary rounded-full 
}

.loading-animation:first-child{
  animation-delay: 600ms;
}
.loading-animation:nth-child(2){
  animation-delay: 400ms;
}
.loading-animation:nth-child(3){
  animation-delay: 200ms;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0);
  }

}
